<div class="content parking-spaces">
  <ng-container *ngFor="let ps of parking_space">
    <div class="section-box">
      <ng-container *ngFor="let slot of ps.parking_area; let idx = index">
        <div [class]="'slot ' + slot.status">
          <div>
            {{ ps.section }}:{{ ps.parking_area.length - idx }} ({{
              slot.type
            }})
            <p>
              <b>{{ slot.plate_number ? "PLN: " + slot.plate_number : "" }}</b>
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<div class="entrypoint">
  <div align="center">Entry A</div>
  <div align="center">Entry B</div>
  <div align="center">Entry C</div>
</div>
<div align="center">
  <h3>Available Slot ({{ availableSlot }})</h3>
</div>
<div class="button" align="center">
  <button
    mat-raised-button
    style="background-color: green"
    (click)="_parkUnpark('park')"
    [disabled]="availableSlot === 0"
  >
    Park
  </button>
  <button
    mat-raised-button
    style="background-color: red"
    (click)="_parkUnpark('unpark')"
  >
    Unpark
  </button>
</div>
